 /* Home */
#home{
    height: 820px;
}
.headings{
    font-size: 1.7rem;
}

/*About*/

#pic img{
    width: 700px;
    height: 175px;
    margin-top: 10px;
}

#intro h2{
    font-size: 1.5rem;
}

/* portfolio */
.gallery img{
    width: 275px;
    height: 150px;
    margin: 10px;
}

/* contact */

.input{
    width: 80%;
}
#msg{
    width: 70%;
}
#send{
    width: 20%;
}
.container {
    width: 100%;
    height: 100%;
}

.responisve-iframe{
     width: 275px;
     height: 250px;
     margin-left: 0px;
     margin-right: 0px;
     align-content: flex-start;
}
